@charset "utf-8";
body{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
header{height:50px;line-height:50px}
header h2{font-size:20px}
header .close-btn{width:50px;height:50px;}
header .close-btn:before, header .close-btn:after{left:15px;width:25px;height:5px;margin-top:-3px}
.contents-wrap{padding-top:50px}
.contents-wrap > section{top:50px}
main footer{padding-top:15px;padding-bottom:15px}
main footer button[class*="btn"]{height:50px;min-width:100px;font-size:18px}
main footer button + button{margin-left:20px}

/* pop Table */
.sfp-grid th, .sfp-grid td{}
.sfp-grid thead th{font-size:20px;}
.sfp-grid tbody td{font-size:32px;line-height:34px;}
.sfp-grid tfoot td{font-size:16px;}
.sfp-grid button.btn-clear{margin-left:0;border:0;}
.sfp-grid button.btn-clear:after{background-size:50% auto;}
.sfp-grid label .check-mark{vertical-align:-7px}
.sfp-grid label .radio-mark{vertical-align:-7px}
.sfp-grid input[type="text"]{height:34px;line-height:34px;font-size:20px}
.sfp-grid.small tbody td{font-size:24px;line-height:30px;}
.sfp-grid input[type="text"],.sfp-grid.small input[type="text"]{height:34px;line-height:34px;font-size:20px;vertical-align:top;}
.sfp-grid button[class*="btn"]{line-height:33px;font-size:20px;padding:0 5px}
.sfp-grid.small button[class*="btn"] {height:30px;line-height:28px;}

.register-table .title{flex:0 0 160px;width:160px;font-size:20px;}
.register-table .cont{min-height:38px;font-size:20px}
.register-table textarea{height:100px;font-size:16px}
.register-table .vertical .title{font-size:18px}
.register-table input[type="text"], .register-table input[type="number"], .register-table input[type="password"], .register-table input[type="date"], .register-table input[type="tel"]{height:35px;line-height:35px}
.register-table button[class*="btn"]{height:35px;line-height:33px}
.register-table select{height:35px;line-height:33px}

/* pop form */
input[type="text"], input[type="password"], input[type="date"], input[type="tel"], input[type="number"]{font-size:16px;}
input[type="checkbox"] + .check-mark{min-height:30px;padding-left:30px;line-height:28px;font-size:16px}
input[type="checkbox"] + .check-mark:before{content:'';display:block;position:absolute;left:0;top:50%;width:28px;height:28px;margin-top:-14px;cursor: pointer;border:1px solid #ced3da;box-sizing:border-box;background:#fff}
input[type="radio"] + .radio-mark{min-height:30px;padding-left:30px;line-height:28px;overflow:hidden}
input[type="radio"] + .radio-mark:before{width:28px;height:28px;margin-top:-14px;}
input[type="radio"] + .radio-mark:after{display:inline-block;left:4px;width:20px;height:20px;margin-top:-10px;opacity:0;}
input[type="radio"]:checked + .radio-mark:after{opacity:1}


select{font-size:20px;}
/* check, hover 스타일 설정 IE, Chrome */
select option{font-size:26px}
label .label-text{font-size:18px}
input[type="radio"] + .radio-mark{font-size:16px}

.sfp-grid input[type="text"]{height:34px;line-height:34px;font-size:20px;vertical-align:top;}
.sfp-grid button[class*="btn"]{font-size:20px;padding:0 5px}

/*pop button */
button[class*="btn"]{font-size:18px}
button[class*="image"]{font-size:0 !important;}
button[class*="image"]:before{margin-top:3px}

/*paging*/
.footer-wrap .footer-title{font-size:20px}
.paging-wrap a{position:relative;min-width:40px;height:38px;padding:0 10px;font-size:20px;line-height:36px;}
.paging-wrap a.prev, 
.paging-wrap a.next, 
.paging-wrap a.first, 
.paging-wrap a.last{background:#fff}
.paging-wrap a.prev:after, 
.paging-wrap a.next:after, 
.paging-wrap a.first:after,
.paging-wrap a.last:after{content:'';display:block;position:absolute;left:50%;top:50%;width:30px;height:30px;margin:-15px 0 0 -15px;background:#fff url('../images/arrow/set_arr_pg.png') no-repeat; }
.paging-wrap a.prev:after{ background-position:0 -30px; }
.paging-wrap a.prev:hover:after{ background-position:-31px -30px; }
.paging-wrap a.prev[disabled]:after{ background-position:-62px -30px; }
.paging-wrap a.next:hover:after{ background-position:-31px 0; }
.paging-wrap a.next[disabled]:after{ background-position:-62px 0; }
.paging-wrap a.first:after{ background-position:0 -61px;}
.paging-wrap a.first:hover:after{ background-position:-31px -61px; }
.paging-wrap a.first[disabled]:after{ background-position:-62px -61px; }
.paging-wrap a.last:after{ background-position:0 -91px;}
.paging-wrap a.last:hover:after{ background-position:-31px -91px; }
.paging-wrap a.last[disabled]:after{ background-position:-62px -91px; }

/* MES */
.card-cont > .graph-area{position:relative;width:100%;height:100%;padding:0 15px 50px 0;box-sizing:border-box}
.card-cont > .graph-area .graph-btn-area{position:absolute;right:15px;bottom:10px}

.worker-list.fix-card{height:100%}
.worker-list.fix-card > ul{height:100%;box-sizing:border-box}
.worker-list li{position:relative;min-height:22%;overflow:hidden !important}
.worker-list li > div{position:absolute;top:50%;left:50%;display:block;width:100%;height:100%;font-size:1.8rem;text-align:center;color:#13958f;border:2px solid #00b5ad;border-radius:5px;transform: translate(-50%, -50%);white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.worker-list li > div:hover,.worker-list li > div:active,.worker-list li > div.selected{color:#fff;background-color:#13958f}
.worker-list li > div:before{content:'';display:inline-block;height:100%;vertical-align:middle}

.number-key{height:100%;padding:20px 0 10px;margin:0 -10px;box-sizing:border-box}
.number-key:after{content:'';display:block;clear:both}
.number-key > span{display:block;float:left;width:33.33%;height:25%;padding:10px;box-sizing:border-box}
.number-key > span > button{display:block;width:100%;height:100%;color:#444;font-size:40px;font-weight:500;border:2px solid #ddd;border-radius:5px;box-sizing:border-box}
.number-key > span > button:active{background-color:#1274a7;color:#fff}
.number-key > span > button.del{background:#8e8a8a;color:#fff}
.number-key > span > button.del:active{background-color:#1274a7}
.number-key > span > button.more{background:#e69b52;color:#fff}
.number-key > span > button.more:active{background-color:#1274a7}
/* .number-key > span > button.remove{font-size:0;background:url('./../images/btn/btn_remove.png') no-repeat 50% 50%} */
.number-key > span > button > span{display:block;font-size:12px}

.card-cont.key-wrap .number-key{padding-bottom:0}
.card-cont.key-wrap .footer-btn{position:absolute;left:0;right:0;bottom:0;}

.image-area {position:relative;width:100%;height:100%;overflow:hidden}
.image-area > img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);max-width:100%;max-height:100%}

.grid-title{min-height:26px;font-size:18px}
.lot-list-wrap{position:relative}
.grid-cnt{position:absolute;right:10px;top:5px;font-size:16px}
.grid-cnt > strong{color:#dc090a}

.register-table.simple-list .cont{background:none}
input.unit{padding-right:35px}
input.unit + em{font-size:16px}
.card-area .card-inner h3{font-size:16px}
.lot-list-wrap .sfp-grid.small tfoot td{padding-left:15px;padding-right:15px}
.lot-list-wrap .sfp-grid.small tfoot td:first-child{text-align:left;}
.lot-list-wrap .sfp-grid.small tfoot td:last-child{text-align:right;}