@charset "utf-8";
/* layout */
body{overflow:hidden;background:#fff;
	scrollbar-3dlight-color:#0075c1;
    scrollbar-darkshadow-color:#0075c1;
    scrollbar-arrow-color:#0075c1;
    scrollbar-track-color:#0075c1;
}

*::-webkit-scrollbar{ width:11px;}
::-webkit-scrollbar-track{ background:#0075c1; }
::-webkit-scrollbar-track-piece{ background:#0075c1; }
::-webkit-scrollbar-corner{ background:#0075c1; }
*::-webkit-scrollbar-thumb{background:#0075c1;}
main{height:100%;/*max-width:1280px;margin:0 auto;*/}
/* main:before{content:'';display:block;position:absolute;left:0;right:0;top:0;height:50px;background:#2b2f31} */
.blur{-webkit-filter: blur(2px);filter: blur(2px);}
select{font-size:15px}
select option{font-size:16px}
/*title-bar*/
header{position:relative;height:112px;padding-left:42px;line-height:112px;font-size:14px;text-align:left;color:#fff;font-weight:700;background: #347dea;background: -moz-linear-gradient(45deg, #347dea 0%, #77b3b0 100%);background: -webkit-linear-gradient(45deg, #347dea 0%,#77b3b0 100%);background: linear-gradient(45deg, #347dea 0%,#77b3b0 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347dea', endColorstr='#77b3b0',GradientType=1 );}
header h1,header h2{display:inline-block;vertical-align:middle}
header h1{width:45px;height:54px;font-size:0;background:url('./../images/logo/logo_studio3s.png') no-repeat 0 0;background-size:100% auto}
header h2{margin-left:6px;font-size:50px;font-family:'roboto';font-weight:700}
header .search-box{position:absolute;top:7px;right:10px;line-height:1}
header .search-box select{vertical-align:top}
header .search-box select + button{margin-left:5px}
header .user-info{position:absolute;top:0;right:10px;bottom:0;line-height:50px;font-weight:500}
header .user-info time{display:inline-block;margin-right:10px;font-size:12px}
header .logo{display:inline-block;width:100px;height:50px;font-size:0;vertical-align:top;background:url('../images/logo/bi.png') no-repeat center}

/* layout */
main > section{display:flex;height:calc(100%);padding:16px 20px 37px;box-sizing:border-box;flex-direction:row}
main > section .col{display:flex;flex: 1 1 auto;flex-direction:column;flex-grow: 1;flex-basis: 0;}
main > section .row{display:flex;flex: 1 1 auto;flex-grow: 1;flex-basis: 0;}
main > section .item-wrap{padding:20px;box-sizing:border-box}
main > header + section{height:calc(100% - 112px)}
header + main > section{height:calc(100% - 112px)}
header ~ main > section.footer-have{height:calc(100% - 182px)}
header + main > header + section{height:calc(100% - 100px)}
.item-inner {position:relative;height:100%;width:100%;box-shadow:none}
.item-inner:after{display:none}

.item-inner ::-webkit-scrollbar-track,.item-inner ::-webkit-scrollbar-track-piece{background:#dadada}
/* .item-inner:after{content:'';display:block;position:absolute;left:0;right:0;bottom:0;height:20px;border-radius:0 0 5px 5px;background:#fff} */
.item-inner > h3{padding:0 5px 0 10px;height:54px;line-height:54px;font-size:30px;border:none;border-radius:5px 5px 0 0;font-weight:500;color:#333;box-sizing:border-box;background:none;}
.item-inner .item-cont{position:relative;height:100%;border-radius:8px;padding:15px;box-sizing:border-box;background:rgba(225,225,225,0.35);overflow-x:hidden;overflow-y:auto;}
.item-inner h3 + .item-cont{height:calc(100% - 54px)}
.item-inner .item-cont.tp2{background:#fff !important}
/* .item-inner.no-title .item-cont{height:100%;border-radius:5px;padding:20px} */
.no-flex {flex: none !important;}
main > section .col.shelf-area{flex-grow:0;flex-shrink:0;flex-basis:622px}
footer{display:block;position:relative;height:70px;padding-right:40px;box-sizing:border-box;overflow:hidden;background: #77b3b0;background: -moz-linear-gradient(45deg, #77b3b0 0%, #347dea 100%);background: -webkit-linear-gradient(45deg, #77b3b0 0%,#347dea 100%);background: linear-gradient(45deg, #77b3b0 0%,#347dea 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b3b0', endColorstr='#347dea',GradientType=1 );}
footer > div{float:right}
footer .work-state-wrap{padding-right:10px;text-align:right;box-sizing:border-box}
footer .work-state-wrap > div{display:inline-block;vertical-align:middle;line-height:70px;font-size:25px;font-weight:700}
footer .work-state-wrap .state-info{padding-right:14px;line-height:70px;color:#fff}
footer .work-state-wrap .gauge-wrap{width:347px}
footer .btn-wrap{line-height:70px}
footer .btn-wrap button + button{margin-left:6px}
footer .pop-option.event{position:absolute;left:49px;top:50%;margin-top:-27px;width:auto;padding:0 18px 0 68px; font-size:20px;color:#fff;background-position:8px -162px !important}

footer .progress-bar{height:55px;border:1px solid #fff;border-radius:8px;background:none;}
footer .progress-bar .value-wrap{position:absolute;top:0;left:0;right:0;height:55px;line-height:55px;font-size:23px;font-weight:bold;text-align:center}
footer .progress-bar > span{line-height:55px;text-align:center;font-size:23px;font-weight:bold;background-color:#c6dbf6;border-radius:8px 0 0 8px;box-shadow:none}
main > section .row.top-function{flex:0 0 55px}
main > section .row.bottom-function{flex:0 0 55px}
main > section .row.top-function .function-area,main > section .row.bottom-function .function-area{padding:0}

.under-title{padding-bottom:5px;font-size:13px;font-weight:500;border-bottom:1px solid #9b9c9d }
.under-title + .static-table{margin-top:15px}
.static-table + .under-title {margin-top:25px}

/* pop form */
input[type="text"], input[type="password"], input[type="date"], input[type="tel"], input[type="number"]{font-size:16px;}
input[type="checkbox"] + .check-mark{min-height:30px;padding-left:30px;line-height:28px;font-size:16px}
input[type="checkbox"] + .check-mark:before{content:'';display:block;position:absolute;left:0;top:50%;width:28px;height:28px;margin-top:-14px;cursor: pointer;border:1px solid #ced3da;box-sizing:border-box;background:#fff}
select{font-size:20px;}
/* check, hover 스타일 설정 IE, Chrome */
select option{font-size:26px}

/*pop button */
button[class*="btn"]{min-width:180px;padding:0;font-size:18px;height:86px;line-height:86px;font-size:50px;font-weight:700;font-family:'roboto';border-radius:4px;color:#fff;background: #458adc}
button.pop-option{display:inline-block;width:55px;height:55px;border-radius:9px;font-size:0;border:1px solid #fff;background:url('./../images/btn/btn_pop.png') no-repeat 0 0;background-size:54px auto}
button.pop-option.stop{background-position:0 -54px}
button.pop-option.option{background-position:0 -108px}
button.pop-option.event{background-position:0 -162px}
button[class*="btn"].small{min-width:200px;height:66px;line-height:66px;font-size:35px;background:#9a9a9a}
button[class*="btn"].small.active{background:#458adc}
.item-cont .item-info{height:85px;padding-top:12px;box-sizing:border-box}
.item-cont .item-info li{display:inline-block;overflow:hidden;font-size:23px;font-weight:700}
.item-cont .item-info li:first-child{width:100%;margin-bottom:5px}
.item-cont .item-info li:nth-child(2){width:65%}
.item-cont .item-info li .title{display:inline-block;width:110px;color:#0075c1;}
.item-cont .item-info li .cont{display:inline-block;color:#2c2c2c;font-size:23px}
.item-cont .item-info-tp2{font-size:0;text-align:center}
.item-cont .item-info-tp2 li{display:inline-block;height:50px;line-height:50px;font-weight:700}
.item-cont .item-info-tp2 li .title{position:relative;display:inline-block;padding:0 23px 0 16px;font-size:18px}
.item-cont .item-info-tp2 li .title:after{content:'';display:block;position:absolute;top:50%;left:0;width:7px;height:7px;margin-top:-4px;background:#000}
.item-cont .item-info-tp2 li .cont{font-size:25px;color:#0075c1}
.item-cont .item-info-tp2 li + li{margin-left:40px}
.item-cont .item-info-tp2 li:last-child .cont{color:#2c2c2c}
.item-cont .item-info-tp2 li:last-child .cont strong{color:#0075c1}
.item-cont .btn.send{position:absolute;bottom:20px;right:-137px}

.container-area{display:inline-block;height:calc(100% - 85px);position:relative;padding:0}
.container-area > img{max-height:100%;vertical-align:top}
.container-item-wrap{position:absolute;left:0;top:9%;bottom:20.27%;right:0;width:100%;padding:0 20.5%;height:auto;border:0;font-size:0;box-sizing:border-box;/* background:url('./../images/temp/shelf_bg.png') no-repeat 50% 0;background-size:contain */}
/* .container-item-wrap{position:absolute;left:0;top:0;bottom:0;width:69%;height:auto;border:0;padding:9% 20.5% 20.27%;font-size:0;box-sizing:border-box;background:url('./../images/temp/shelf_bg.png') no-repeat 50% 0;background-size:contain} */
.container-item-wrap .cell{position:relative;display:inline-block;border-radius:14px;box-sizing:border-box;border:0;cursor:default;background:none}
.container-item-wrap .cell:after{content:'';position:absolute;display:none;width:46px;height:38px;top:50%;margin-top:-19px;background:#f4db8e}
.container-item-wrap .cell.active{border:1px dashed #0f8e87;background-color:rgba(44,185,177,0.5)}
.container-item-wrap .cell.active:after{display:block;animation:blink 1s infinite;background:url('./../images/arrow/twofold-green.png') no-repeat 100% 0;background-size:100% auto}
.container-item-wrap .cell:nth-child(odd):after{right:calc(100% + 20px)}
.container-item-wrap .cell:nth-child(even):after{left:calc(100% + 20px)}
.container-item-wrap[data-work="picking"] .cell.active{border-color:#00aeef;background-color:rgba(0,117,193,0.5)}
.container-item-wrap[data-work="picking"] .cell.active:after{background-image:url('./../images/arrow/twofold-blue.png')}
.container-item-wrap .cell:nth-child(even).active:after{transform:rotate(-180deg)}

header .search-box{top:29px;right:42px}
.top-info .wrap-cont{display:inline-block;height:27px;padding:0 5px 0 8px;line-height:27px;border-radius:5px;background:rgba(255,255,255,0.7)}
.top-info .wrap-cont label{display:inline-block;width:73px;font-size:18px;font-weight:bold;color:#019684;vertical-align:top}
.top-info .wrap-cont input.select,.top-info .wrap-cont input.select[type="text"]{width:227px;height:27px;line-height:27px;font-size:18px;font-weight:500;border:0;vertical-align:top;color:#2c2c2c;background: url('./../images/icons/external-link02.png') no-repeat 100% 50%;}
.top-info .wrap-cont input[type="text"]{width:227px;height:27px;line-height:27px;font-size:18px;font-weight:500;border:0;vertical-align:top;color:#2c2c2c;background:none}
.top-info .wrap-cont + .wrap-cont{margin-left:2px}
.top-info li + li{margin-top:3px}

.item-cont .order-wrap{height:100%;box-sizing:border-box;/* padding-bottom: */}
.item-inner .item-cont.item-guide-area{overflow:hidden;padding:46px 56px 35px;font-size:0;}
.item-cont div[class*="-sec"]{height:100%;display:inline-block;vertical-align:top}
.item-cont .left-img-sec{position:relative;width:511px;box-sizing:border-box;text-align:center}
.item-cont .left-img-sec:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.item-cont .left-img-sec > img{max-width:100%;max-height:100%;vertical-align:middle}
.item-cont .left-img-sec .validation{display:none;position:absolute;left:0;right:0;bottom:0;height:86px;font-size:66px;font-family:'roboto';font-weight:700;background:rgba(0,0,0,0.65)}
.item-cont .left-img-sec .validation.ok{display:block;color:#3db3ff}
.item-cont .left-img-sec .validation.ok:after{content:'OK';display:inline-block}
.item-cont .left-img-sec .validation.ng{display:block;color:#ff4b3d}
.item-cont .left-img-sec .validation.ng:after{content:'NG';display:inline-block}

.item-cont .right-sec{padding-left:40px}
.item-info-list li{margin-top:22px;font-size:0;}
.item-info-list li .title{position:relative;display:inline-block;width:140px;padding-left:27px;line-height:34px;letter-spacing:0.025em;font-size:23px;font-weight:700;vertical-align:top;box-sizing:border-box}
.item-info-list li .title:after{content:'';display:block;position:absolute;left:0;top:50%;width:7px;height:7px;margin-top:-3px;background:#000}
.item-info-list li .title .dash{display:inline-block;margin:0 5px}
.item-info-list li .cont{display:inline-block;line-height:34px;font-size:29px;font-weight:700;letter-spacing:0.025em;color:#0075c1}
.item-info-list li .cont > span{display:inline-block;margin-right:3px}
.item-info-list li .cont.big{margin-top:-45px;line-height:1.1;font-size:300px;font-weight:400;letter-spacing:-0.08em;font-family:'roboto'}
.item-info-list li .cont.big + .unit{display:inline-block;margin-left:8px;font-size:75px;color:#0075c1;font-weight:700;font-family:'roboto'}
.item-info-list li .cont .dash{font-size:166px;vertical-align:15px;}
.item-info-list li.tp2 .title{display:block;width:100%}
.item-info-list li.tp2 .cont{}
.item-info-list li.tp2 .cont.big{margin-top:-10px;padding-left:140px;font-size:208px;letter-spacing:-0.05em;}
.item-info-list li.tp2 .cont.big > span:first-child{color:#9b9b9b}
.item-cont .right-sec .btn.picking{position:absolute;right:53px;bottom:35px;width:490px;}

/* receive */
.item-inner .item-cont.item-guide-area.receive{padding:28px 46px 35px;}
.receive.item-cont .left-img-sec{width:238px}
.receive.item-cont .left-img-sec .validation{height:67px;font-size:41px;}
.receive .right-sec{position:relative;width:calc(100% - 238px);box-sizing:border-box}
.receive .item-info-list li{display:inline-block;vertical-align:top}
.receive .item-info-list li:first-child{width:50%}
.receive .item-info-list li:nth-child(2){width:50%}
.receive .item-info-list li:last-child{width:100%}
.receive .item-info-list li .cont.big{font-size:230px}
.receive .item-info-list li .unit{margin:0 0 0 10px;color:#0075c1;font-size:75px;font-family:'roboto';font-weight:bold;letter-spacing:0.025em}
.receive .item-info-list li .btn{position:absolute;right:40px;bottom:48px;width:360px}

.batch-list-wrap.item-inner .item-cont{padding:0 12px 22px 0}
.batch-list-wrap .batch-id{height:57px;padding-left:36px;line-height:57px;font-size:23px;color:#0075c1;font-weight:700}
.batch-list-wrap .batch-id > strong{display:inline-block;padding-left:65px;color:#2c2c2c}
.batch-list-wrap .grid-area{height:267px;}

span[class^='flag-']{min-width:83px;font-weight:700}
span.flag-done{background-color:#9a9a9a}
span.flag-ing{background-color:#37c0b8}
span.flag-tobe{background-color:#0075c1}

.sfp-grid thead th{height:55px;line-height:55px;padding:0;background:#bababa}
.sfp-grid tbody td{padding:0;font-size:18px;border-top:1px solid #bababa;line-height:52px;font-weight:700;background:none}
.sfp-grid-header-panel{background:none;overflow-y:scroll;overflow-x:hidden}
.sfp-grid-body-panel{background:none;overflow-y:scroll;overflow-x:hidden}
.sfp-grid th:nth-child(2),.sfp-grid th:nth-child(3),
.sfp-grid td:nth-child(2), .sfp-grid td:nth-child(3){padding-left:33px;text-align:left;}
.batch-list-wrap .sfp-grid tr.ing td{color:#37c0b8 !important;background:none !important}
.batch-list-wrap .sfp-grid tr.ing td:nth-child(4),.batch-list-wrap .sfp-grid tr.ing td:nth-child(5){font-size:32px}
.batch-list-wrap .sfp-grid tr.done td{color:#9a9a9a}
.batch-list-wrap .sfp-grid tr.tobe td{color:#0075c1}
.done span[class^='flag-']{background-color:#9a9a9a}
.ing span[class^='flag-']{background-color:#37c0b8}
.tobe span[class^='flag-']{background-color:#0075c1}

/* sorting */
main.sorting > section{padding:0;display:block;flex:none;width:100%;height:calc(100% - 112px)}
main.sorting .item-inner .item-cont{background:#eeeeee}
.sorting .top-cont{height:160px}
.sorting .order-area{height:calc(100% - 160px)}
.sorting .order-area .item-wrap{height:100%}
.item-inner.order-box-area .item-cont{height:calc(100% - 45px);padding:35px 0 0;}
.sorting .item-inner > h3{height:42px;line-height:42px;font-size:23px}
.sorting .no-flex .item-inner h3 + .item-cont{height:auto}
/* .sorting .no-flex .item-inner.order-box-area h3 + .item-cont{height:calc(100% - 42px)} */
.order-box-list{display:flex;flex-flow:row wrap;align-items:stretch;height:84%;margin:0 -36px}
.order-box-list:after{content:'';display:block;clear:both}
.order-box-list > li{width:25%;max-height:100%;padding:6px 36px;box-sizing:border-box;-webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 10ms;
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 10ms;
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 10ms;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 10ms;}
.order-box-list > li .order-box-wrap{height:100%;padding:30px 20px;border-radius:8px;box-sizing:border-box;background:#eeeeee}
.order-box-wrap .order-title{display:block;height:33px;line-height:33px;border-radius:4px;text-align:center;color:#686868;font-size:19px;font-weight:700;background:#a3a3a3}
.order-box-wrap .value-wrap{text-align:center;color:#9a9a9a}
.order-box-wrap .value-wrap > strong{font-size:152px;font-family:'roboto';font-weight:400}
.order-box-wrap .value-wrap .unit{font-size:56px;font-family:'roboto';font-weight:700}
.order-box-wrap .progress-wrap{padding:24px 20px 0}
.order-box-wrap .progress-bar{height:8px;line-height:8px;background:#fff}
.order-box-wrap .progress-bar > span{background:#9a9a9a;box-shadow:none}
.order-box-wrap .progress-bar > span > strong{position:absolute;top:-20px;right:-12px;line-height:20px;font-size:14px;font-weight:400;color:#000}
.order-box-list > li.active {transform:scale(1.18)}
.order-box-list > li:first-child.active{transform-origin:0 50%}
.order-box-list > li:last-child.active{transform-origin:100% 50%}
.order-box-list > li.active .order-title{color:#fff;background: #5d65bd; /* Old browsers */
    background: -moz-linear-gradient(left, #5d65bd 0%, #4f76c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5d65bd 0%,#4f76c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5d65bd 0%,#4f76c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d65bd', endColorstr='#4f76c1',GradientType=1 ); /* IE6-9 */}
.order-box-list > li.active .value-wrap{color:#0075c1}
.order-box-list > li.active .order-box-wrap .progress-bar > span{background:#0075c1}
.order-box-list > li.complete .order-box-wrap{position:relative}
.order-box-list > li.complete .order-box-wrap:after{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;border-radius:8px;background:rgba(0,0,0,0.4)}
.order-box-list > li.wait .order-title{color:#fff;background: #5d65bd; /* Old browsers */
    background: -moz-linear-gradient(left, #5d65bd 0%, #4f76c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5d65bd 0%,#4f76c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5d65bd 0%,#4f76c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d65bd', endColorstr='#4f76c1',GradientType=1 ); /* IE6-9 */}

.order-item{padding:25px 15px 0;}
.order-item li{position:relative;overflow:hidden;padding-right:40px;font-size:17px;color:#000000;font-weight:500;box-sizing:border-box;white-space: nowrap;text-overflow: ellipsis;}
.order-item li + li{margin-top:3px}
.order-item li .title{position:relative;padding-left:20px}
.order-item li .title:after{content:'';display:block;position:absolute;left:0;top:50%;width:9px;height:9px;margin-top:-4px;border-radius:50%;background:#9a9a9a}
.order-item li .value{position:absolute;right:0;top:0;padding-right:10px}
.order-item li.ing .title:after{background-color:#37c0b8}
.order-item li.ing{font-size:19px;color:#37c0b8;font-weight:700}
.order-item li.ready .title:after{background-color:#0075c1}
.order-item li.complete{color:#797979}
.order-item li.complete > span:before{content:'';display:block;position:absolute;top:50%;height:2px;margin-top:1px;background:#aaaaaa}
.order-item li.complete > span.title:before{left:20px;right:0}
.order-item li.complete > span.value:before{left:0;right:10px}
.legend-order-item{position:absolute;right:0;bottom:0;height:43px;padding:0 30px;font-size:0;border-radius:9px;background:#f5f5f5}
.legend-order-item li{display:inline-block;font-size:20px;line-height:43px;font-weight:500}
.legend-order-item li + li{margin-left:30px}
.legend-order-item li .status{margin-right:7px;background-color:#9a9a9a}
.legend-order-item li .status.complete{background-color:#9a9a9a}
.legend-order-item li .status.ing{background-color:#37c0b8}
.legend-order-item li .status.ready{background-color:#0075c1}

/* event */
main.event > section{padding-bottom:20px}
main.event > section .item-wrap.event-item-area{padding:0}
header .btn-wrap{position:absolute;top:0;right:40px}
.event-item-area .item-inner .item-cont{padding:0}
.event-item-list{height:100% !important;font-size:0;}
.event-item-list > li{display:inline-block;width:25%;height:25%;padding:20px;vertical-align:top;box-sizing:border-box;}
.event-item-list .event-item-wrap{position:relative;width:100%;height:100%;padding:15px;border-radius:50%;text-align:center;box-sizing:border-box;background:rgba(225,225,225,0.35)}
.event-item-list .event-item-wrap img{max-width:100%;max-height:100%}
.event-item-list > li.active .event-item-wrap{background:url('./../images/temp/ex_item_bg.png') no-repeat 0 0;background-size:100% 100%}
.event-item-list > li.active.final .event-item-wrap{animation: shadow-pulse 1s infinite;}
/* .event-item-list > li.active.final .event-item-wrap:after,.event-item-list > li.active.final .event-item-wrap:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;}
.event-item-list > li.active.final .event-item-wrap:before{z-index:3;background-color:rgba(88,181,241,0.4)}
.event-item-list > li.active.final .event-item-wrap:after{z-index:5;background-color:rgba(255,255,255,0.4)} */
.event-item-list > li.sold-out{position:relative}
.event-item-list > li.sold-out .event-item-wrap img{  -webkit-filter: grayscale(100%);filter: grayscale(100%);}
.event-item-list > li.sold-out .event-item-wrap:after{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;border-radius:50%;background:rgba(79,79,79,0.5)}
.event .col.fix-width{flex-grow:0;flex-shrink:0;flex-basis:915px}
.event .item-cont.event-img-area{padding:20px 0 40px}
.event-img-area .event-img-wrap{position:relative;height:250px}
.event-img-area .event-img-wrap .monitor{position:absolute;right:34%;animation:updown 1.5s infinite;}
.event-img-area .event-img-wrap .ballon{position:absolute;top:40px;left:28.68%;}
.event-img-area .event-img-wrap .ballon .text{position:absolute;left:0;right:25px;top:0;bottom:0;background:url('./../images/temp/ex_ballon_ready.png') no-repeat 0 0}
.event-img-area .event-img-wrap .ballon .text.wait{background-image:url('./../images/temp/ex_ballon_waiting.png')}
.event-img-area .event-img-wrap .ballon .text.finish{background-image:url('./../images/temp/ex_ballon_finished.png')}
.event-img-area .btn-wrap{text-align:center}
.event-img-area .btn-wrap button + button{margin-left:10px}
.event-img-area .picking.on{animation:size 1s infinite}
.event .item-cont.win-item-area{padding:60px 75px;font-size:0}
.event .item-cont .left-img-sec{width:258px}
.event .item-cont .right-sec{position:relative;width:calc(100% - 258px);padding-left:42px;box-sizing:border-box}
.winning-text{position:absolute;top:50%;left:50%;width:100%;padding:0 80px;box-sizing:border-box;text-align:center;font-size:25px;font-weight:500;transform:translate(-50%,-50%)}
.winning-text li:nth-child(2){margin:50px 0 36px}
.winning-text strong{font-size:37px;font-weight:700;color:#0075c1}
.winning-text p{line-height:1.5;font-size:20px;}

header .comment{display:inline-block;margin-left:15px;padding:8px 15px;vertical-align:middle;font-size:22px;line-height:24px;color:#0095FE;border-radius:3px;background:#162B40}
/* animaion */
@keyframes blink {
    0%   {opacity:1}
    50%  {opacity:0}
    100%  {opacity:1}
}
@keyframes updown {
    0%   {top:11px}
    50%   {top:0}
    100%  {top:11px}
}
@keyframes size{
    0% {-moz-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}
    50% {-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
    100% {-moz-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}
}
/* @keyframes shadow-pulse{
  0% {box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);}
  100% {box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);}
} */
@keyframes shadow-pulse{
    0% {box-shadow: 0 0 0 0px rgba(153, 223, 250, 0.8);}
    100% {box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);}
  }