@charset "utf-8";

body{background:#fff}
.login-box{box-shadow:none}
.login-box h1{display:block;height:auto;padding-bottom:20px;font-size:22px;line-height:1.5}
.login-box .login-cont{position:relative;padding-bottom:26px}
.login-box .alert{position:absolute;left:0;right:0;bottom:-10px;width:100%;margin:0;line-height:35px;text-align:center;color:#fff;background:rgba(255,0,0,0.6)}

.contents-wrap.csc-calendar{background:#fff}
.contents-wrap.aside-csc{flex-basis:450px;}
.contents-wrap.aside-csc > section{padding-left:20px}

.aside-csc .tab-list-wrap{height:65%;padding-bottom:20px;box-sizing:border-box}
.aside-csc .tab-container > label{width:50%;box-sizing:border-box;}
.aside-csc .tab-container > label + input + label{margin:0}
.aside-csc .tab-container.tab-type2 > label:after{z-index:3}
.aside-csc .tab-content{position:relative;height:calc(100% - 38px);padding:40px 0 10px;box-sizing:border-box}
.aside-csc .tab-list-wrap .list-cnt{position:absolute;top:10px;right:10px;font-size:14px}
.aside-csc .tab-content .grid-wrap{height:100%}
.aside-csc .tab-content .sfp-grid-panel{height:100%}
.aside-csc .tab-content .sfp-grid-body-panel{height:calc(100% - 35px)}
.aside-csc .list-cnt{color:#000}
.aside-csc .list-cnt strong{font-weight:bold;color:#fd3838}

@media (max-width:399px) {
    .login-box{left:10px;width:calc(100% - 20px);margin-left:0;padding:40px 10px;border-radius:0;box-sizing:border-box}
    .login-box .info{left:10px;right:10px}
    .login-box h1{font-size:22px}

}